/*===== RESETS ====*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  --lightBackground:linear-gradient(90deg,rgba(65, 184, 131, 1) 0%,rgba(0, 212, 255, 1) 100%);
  --darkBackgorund: linear-gradient(90deg,rgb(18 37 83) 0%, rgb(102 54 165) 100%);
}

/*Body*/

body[data-theme='light']{
  display: grid;
  place-items: center;
  min-height: 100vh;
  max-width: 100vw;
  background: var(--lightBackground);
  font-size: 1.6rem;
  align-items: start;
}
body[data-theme='dark']{
  display: grid;
  place-items: center;
  min-height: 100vh;
  max-width: 100vw;
  background: var(--darkBackgorund);
  font-size: 1.6rem;
  align-items: start;
}

header{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 35px;
  background: rgba(100, 100, 111, 0.2);
}

/*Container*/

.container {
  background: transparent;
  max-width: 950px;
  width: 100%;
  min-height: 500px;
  /* border: 1px solid #FBFAFF; */
  padding: 2rem 2.5rem;
  display: flex;
  gap: 2rem;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/*graficos*/

.container .graficos {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 70%;
  gap: 2rem;
}

.container .graficos .calendar {
  position: absolute;
  width: 130px;
  height: 30px;
  background: #c2c2c2;
  right: 10px;
  top: 10px;
  padding: 2rem 0.8rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container .graficos > div {
  height: 250px;
  background: #FBFAFF;
  flex: 1 0 250px;
  box-shadow: 0px 15px 10px rgba(0, 0, 0, .1);

}

/*cards*/

.container .temps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  max-height: 600px;
  width: 30%;
}

.container .temps > div {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  background: #FBFAFF;
  padding: 1rem 2rem;
  box-shadow: 0px 15px 10px rgba(0, 0, 0, .1);
  border-radius: 8px;
}

.container .temps > div > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .temps > div > div p {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.8rem;
}

.container .temps > div h1 {
  text-align: center;
}

@media(max-width: 720px) {
  .container {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    border: initial;
  }

  .container .graficos {
    width: 100%;
  }

  .container .graficos > div {
    width: 100%;
  }

  .container .temps {
    width: 100%;
    height: 450px;
  }
}
